<form class="w-full" data-component="signup">
  <p class="flex hidden js-success mt-15 font-20 w-full text-left">{{ stngs.success }}</p>
  <div class="js-formContent flex flex-col m:flex-row items-center justify-between rounded-[.5rem] m:rounded-[1rem] m:border border-primary border-solid m:pr-5 m:bg-tertiary gap-10">
    <input
      class="w-full text-18 m:text-20 js-email py-15 m:py-15 px-15 text-center m:text-left bg-tertiary m:bg-transparent border m:border-0 border-primary border-solid rounded-[.5rem] m:rounded-[0rem]"
      type="email"
      value=""
      placeholder="Email Address"
      name="contact[email]"
      id="Email"
      class="input-group-field x"
      aria-label="Your Email"
      autocorrect="off"
      autocapitalize="off">
    <button
      class="btn is-signup js-submit is-black is-small flex-shrink-0 w-full m:w-[fit-content]"
      type="button"
      aria-label="Submit">
      <span class="">Signup</span>
    </button>
  </div>
</form>
