.btn {
  @apply text-20 m:text-24 font-serif p-15 leading-100 rounded-[.5rem] transition-colors duration-300 bg-primary text-cream text-center hover:bg-primary hover:text-secondary;

  &-cart{
    @apply px-15 py-8 rounded-[.5rem] bg-tertiary leading-100;
  }

  &-theme{
    @apply bg-secondary text-primary hover:bg-primary hover:text-secondary transition-colors duration-300;
  }

  &-hero{
    @apply text-center py-15 m:py-20 w-full flex items-center justify-center absolute bottom-0 text-22 uppercase font-serif;
  }

  &.is-glass{
    @apply border border-solid border-current text-cream transition-colors duration-300 backdrop-blur-2xl bg-[rgba(255,251,235,.1)];

    &:hover{
      @apply bg-[rgba(255,251,235,.3)];
    }
  }

  &.is-light{
    @apply bg-cream text-primary hover:text-secondary;
  }

  &.is-signup{
    @apply text-20 rounded-[.5rem] m:rounded-[1rem] py-10 px-15;
  }

  &.is-border{
    @apply border border-solid border-primary bg-cream text-primary hover:bg-tertiary;;
  }

  &-add{
    @apply bg-primary text-cream text-24 px-30 py-30 text-center w-full uppercase font-serif rounded-[.5rem] transition-colors duration-300 hover:text-secondary;
  }
}

.link {
  &-black {
    color: currentColor;
    transition: color 0.25s ease;

    &:hover {
      color: currentColor;
    }
  }

  &-line {
    @apply hover:underline hover:border-solid hover:border-black;
  }

  &-primary {
    color: currentColor;
    transition: opacity 0.25s ease;

    &:hover {
      opacity: 0.5;
    }
  }

  &-nav{
    @apply hover:text-secondary transition-colors duration-300;
  }

  &-icon {
    @apply h-[2.5rem] inline-block mr-20;
  }
}
