@font-face {
  font-family: 'Ok';
  src: url('../../../assets/Ok.woff2') format('woff2'),
    url('../../../assets/Ok.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Malibu';
  src: url('../../../assets/MC-Malibu.woff2') format('woff2'),
    url('../../../assets/MC-Malibu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
