<div class="w-full" data-component="about">
  <div class="flex js-anchors"></div>
</div>

{% schema %}
  {
    "name": "About Anchors",
    "tag": "section",
    "class": "about--anchors",
    "settings": [],
    "presets": [
      {
        "name": "About Anchors"
      }
    ]
  }
{% endschema %}
