{% assign stngs = section.settings %}

<div class="w-full flex flex-col m:flex-row pl-15 m:pl-140 pr-15 m:pr-20 gap-20 py-20 m:h-screen relative pt-[calc(var(--headerHeight)+1.5rem)] m:pt-0">
  <h1 class="text-36 m:text-100 font-serif uppercase leading-100 bg-tertiary border border-solid border-primary rounded-[100%] absolute z-2 top-[10rem] left-[-6rem] text-center px-90 m:px-[13rem] pb-[2rem] m:pb-[3rem] pt-[2rem] m:pt-[4rem]">{{ section.settings.title }}</h1>
  <div class="flex-grow w-full m:flex-1 h-[100vw] m:h-full relative">
    <div class="w-full overflow-hidden h-[100vw] m:h-full">
      {%
        include 'lazy' with className: 'w-full h-full object-cover absolute left-0 top-0 rounded-[1rem]'
        , src: section.settings.image
        , size: '1200x' %}
    </div>
  </div>

  <div class="flex-shrink-0 flex flex-col justify-end pb-[2rem]">
    <div class="w-full mx-auto max-w-[60rem] m:w-[var(--nav)] m:min-w-[40rem] flex items-end">
      <div class="text-20 m:text-24 mt-5 rte">
        {{ section.settings.body }}
      </div>
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Image Text Overlay",
    "tag": "section",
    "class": "mb-60 m:mb-90",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "body",
        "label": "Body"
      }
    ]
  }
{% endschema %}
