<div class="w-full px-20 pt-[20rem] mb-90" data-pagetitle="{{ page_title }}">
  <h1 class="title-2xl">{{ collection.title }}</h1>
  <div class="grid grid-cols-12 gap-x-15 gap-y-30 m:gap-y-60 mt-30 m:mt-30 relative">
    {% for product in collections[collection.handle].products %}
        {% assign meta = product.metafields.custom %}
        {% assign splitTitle = product.title | split: ' ' %}

        {% include 'product-card' with class: 'col-span-12 m:col-span-6' %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Collection",
    "class": "collection",
    "settings": [
      {
        "type": "image_picker",
        "id": "background",
        "label": "Message Background"
      }, {
        "type": "text",
        "id": "title",
        "label": "Message Title"
      }, {
        "type": "text",
        "id": "subtitle",
        "label": "Message Subtitle"
      }
    ]
  }
{% endschema %}
