<script type="application/ld+json">
  {
  "@context": "https://schema.org",
     "@type": "FAQPage",
     "mainEntity": [{% for block in section.blocks %}
    {
    "@type": "Question",
    "name": "{{ block.settings.title }}",
    "acceptedAnswer": {
    "@type": "Answer",
    "text": "{{ block.settings.body | replace: '"', "'" }}"
    }
  }{% unless forloop.last %},{% endunless %}
  {% endfor %}
  ]
  }
</script>

<div class="relative px-15 m:px-30 my-90">
  {% if section.index == 1 %}
    <h2 class="title-3xl w-full text-center mb-75">{{ page.title }}</h2>
  {% endif %}
  {% if section.settings.image %}
    <div class="js-faqImage faq-image sticky top-120" data-component="faqsImage">
      {%
        include 'lazy' with
      className: 'js-faqImage w-full h-full object-cover rounded-tr-[2rem] rounded-br-[2rem] overflow-hidden',
      src: section.settings.image,
      size: '1400x' %}
    </div>
  {% endif %}

  <div class="w-full">
    {%- include 'faqs-drawer' with large: true -%}
  </div>
</div>

{% schema %}
  {
    "name": "FAQs Drawer",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "Only use for the first section."
      }
    ],
    "blocks": [
      {
        "name": "FAQ",
        "type": "text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, {
            "type": "richtext",
            "id": "body",
            "label": "Body"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "FAQs Drawer"
      }
    ]
  }
{% endschema %}
