{% assign wordCount = 0 %}
{% for block in section.blocks %}
  {% if block.type == 'text' %}
    {% assign wordCount = wordCount | plus: 1 %}
  {% endif %}
{% endfor %}

<div class="flex my-90 flex-wrap" data-component="banner">
  <script class="js-images hidden">
    {
      "images": [{% for block in section.blocks %}
          {% assign product = block.settings.theme %}
          { "image": "{{ block.settings.image | img_url: '600x'  }}", "theme": "{{ product.title | handleize }}" }{% unless forloop.last %},{% endunless %}
        {% endfor %}]
    }
  </script>

  <div class="flex flex-wrap font-serif text-120 leading-100 px-50 gap-20" data-size="{{ section.blocks.size }}">
    {% assign currentWord = 0 %}
    {% for block in section.blocks %}
      {% if block.type == 'text' %}
        {% assign currentWord = currentWord | plus: 1 %}
        <div class="flex-shrink-0{% if currentWord == 1 %}{% endif %}">{{ block.settings.text }}</div>
        <div class="flex-1 min-w-[30rem] relative rounded-[100%] overflow-hidden{% if wordCount == 3 %} min-w-[20%]{% endif %}"><img class="js-image absolute left-0 top-0 w-full h-full object-cover"></img></div>
        {% if currentWord == 2 and wordCount == 4 %}
          <div class="flex-1 min-w-[30rem] relative rounded-[100%] overflow-hidden"><img class="js-image absolute left-0 top-0 w-full h-full object-cover"></img></div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Image & Text Banner",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      }
    ],
    "blocks": [
      {
        "name": "Text",
        "type": "text",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      },
      {
        "name": "Theme Image",
        "type": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "product",
            "id": "theme",
            "label": "Theme"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image & Text Banner"
      }
    ]
  }
{% endschema %}
