<div class="w-full px-15 m:px-30 pt-50 m:pt-75 pb-60" data-pagetitle="{{ page_title }}">
  <div class="w-full max-w-[75rem] mx-auto">
    <h1 class="title-large mb-35 m:mb-50 text-center">{{ page.title }}</h1>
    <div class="rte" style="font-family: Helvetica, Arial, sans-serif">
      {{ page.content }}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Default Page Content",
    "tag": "section",
    "settings": [],
    "presets": [
      {
        "name": "Default Page Content"
      }
    ]
  }
{% endschema %}
