<div class="px-15 m:px-60 my-90 m:my-120">
  <div class="w-full max-w-[80rem] mx-auto flex flex-col items-center text-center">
    {% if section.settings.title.size > 0 %}
      <h2 class="title-2xl">{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.body.size > 0 %}
      <div class="w-full text-30 mt-25">
        {{ section.settings.body }}
      </div>
    {% endif %}
    {% if section.settings.cta.size > 0 %}
      {% include 'cta' with className: 'btn mt-35'
        , text: section.settings.cta
        , href: section.settings.link %}
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Text Block",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "body",
        "label": "Body"
      },
      {
        "type": "text",
        "id": "cta",
        "label": "CTA"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      }
    ],
    "presets": [
      {
        "name": "Text Block"
      }
    ]
  }
{% endschema %}
