<div class="w-full bg-secondary flex pb-[calc(6rem+2rem)] pt-60 overflow-hidden relative" data-component="steps">
  <div class="flex w-full justify-center flex-shrink-0">
    <div class="flex-1 m:rounded-tr-full rounded-bl-full m:rounded-bl-none rounded-br-full overflow-hidden absolute m:relative left-1/2 m:left-[unset] -translate-x-1/2 m:translate-x-0 top-0 m:top-[unset] h-[20rem] m:h-[unset] w-full m:w-[unset]">
      {% include 'lazy' with className: 'w-full h-full object-cover'
        , src: section.settings.imageLeft
        , size: '1200x' %}
      <div class="absolute top-1/2 -translate-y-1/2 left-30 text-vertical is-right leading-100 font-serif text-cream text-80 rotate-180 hidden m:block">
        {{ section.settings.titleLeft }}
      </div>
    </div>
    <div class="px-[2rem] hidden m:flex">
      {% for block in section.blocks %}
        {% include 'step' %}
      {% endfor %}
    </div>
    <div class="w-full m:hidden relative z-3">
      <div class="js-carousel m:z-2 w-full overflow-hidden">
        <div class="flex select-none w-full relative">
          {% for block in section.blocks %}
            {% include 'step' %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="flex-1 m:rounded-bl-full rounded-tr-full m:rounded-tr-none rounded-tl-full overflow-hidden absolute m:relative left-1/2 m:left-[unset] -translate-x-1/2 m:translate-x-0 bottom-0 m:bottom-[unset] h-[20rem] m:h-[unset] w-full m:w-[unset]">
      {% include 'lazy' with className: 'w-full h-full object-cover'
        , src: section.settings.imageRight
        , size: '1200x' %}
      <div class="hidden m:block absolute top-1/2 -translate-y-1/2 right-30 text-vertical is-left leading-100 font-serif text-cream text-80">
        {{ section.settings.titleRight }}
      </div>
    </div>
  </div>
</div>
<div class="text-cream absolute z-3 -bottom-1 w-full">
  {% include 'icon-wave' %}
</div>

{% schema %}
  {
    "name": "Steps",
    "tag": "section",
    "class": "mb-90 relative",
    "settings": [
      {
        "type": "text",
        "id": "titleLeft",
        "label": "Left Title"
      },
      {
        "type": "image_picker",
        "id": "imageLeft",
        "label": "Left Image"
      },
      {
        "type": "text",
        "id": "titleRight",
        "label": "Right Title"
      },
      {
        "type": "image_picker",
        "id": "imageRight",
        "label": "Right Image"
      }
    ],
    "blocks": [
      {
        "name": "Step",
        "type": "step",
        "settings": [
          {
            "type": "text",
            "id": "number",
            "label": "Number"
          },
          {
            "type": "richtext",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "connector",
            "label": "Connector"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Steps"
      }
    ]
  }
{% endschema %}
