<div class="w-full pt-160 px-20" data-pagetitle="{{ page_title }}">
  <div class="w-full max-w-[75rem]">
    <h1 class="title-2xl mb-35 m:mb-50">{{ page.title }}</h1>
    <div class="rte text-18">
      {{ page.content }}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Default Page Content",
    "tag": "section",
    "settings": [],
    "presets": [
      {
        "name": "Default Page Content"
      }
    ]
  }
{% endschema %}
