<div class="w-screen h-screen fixed top-0 left-0" style="z-index: 999">

</div>

{% schema %}
  {
    "name": "Landing Page",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "success",
        "default": "Thanks for signing up!",
        "label": "Signup Success Message"
      },
      {
        "type": "text",
        "id": "banner",
        "default": "Coming Soon",
        "label": "Banner Text"
      }
    ]
  }
{% endschema %}
