.slider-arrow{
    display: none!important;
}

#insta-feed{
    padding: 0!important;
}

#insta-feed, .instafeed-shopify {
    text-align: center;
    clear: both;
    margin: 0 auto;
    margin-top: 0!important;
}