.product {
  &-img {
    position: relative;
    display: block;
    width: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &-info {
    .carousel-dot {
      @apply bg-cream opacity-50 rounded-full w-10 m:w-20 h-10 m:h-20;

      &.is-active {
        @apply opacity-100;
      }
    }

    video{
      @apply w-full h-full object-cover
    }
  }

  &-details{
    background-color: var(--secondary);
  }

  &-swatch{
    @apply relative;

    &:after{
      content: '';
      @apply w-[calc(100%+.4rem)] h-[calc(100%+.4rem)] border border-solid border-black rounded-[.5rem] absolute -top-2 -left-2 transition-opacity duration-300 opacity-0;
    }

    &:not(.active):hover{
      &:after{
        @apply opacity-30;
      }
    }

    &.active{
      &:after{
        @apply opacity-100;
      }
    }
  }
}
