.footer {
  &-menu {
    @apply flex flex-col col-span-12 m:col-span-4 items-start justify-start;
  }
}

footer {
  position: relative;

  form {
    input {
      &::placeholder {
        opacity: 0.5 !important;
        color: black !important;
        font-weight: 500;
      }
    }
  }
}
